# dependencies
/node_modules

# IDE
/.idea
/.awcache

# misc
npm-debug.log

# example
/quick-start

# tests
/test
/coverage
/.nyc_output

# dist
/dist

# ignore files in folder configs/env
configs/env/*
# keep the configs/env folder
!configs/env/.keep
